<?xml version="1.0" encoding="utf-8" ?>
<beans>
    <bean id="accountDao" class="com.lglearn.dao.impl.JdbcAccountDaoImpl"></bean>

    <bean id="transferService" class="com.lglearn.service.impl.TransferServiceImpl">
        <property name="AccountDao" ref="accountDao"></property>
    </bean>
</beans>